@media (min-width: 800px) {
  #Tomat-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #pizza-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #pizza-section > div:first-child {
    grid-column: 2;
  }
  #pizza-section > div:last-child {
    grid-column: 1;
  }
  #header-section {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  #pizza-section {
    align-items: center;
  }
  #baking-pizza {
    grid-column: 2;
  }
  #pizza-text {
    grid-column: 1;
    grid-row: 1;
  }
  #footer-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
